<!-- Projects -->
<h1 class="display-5 mt-5 py-3">Proyectos</h1>
<p>Una lista de proyectos desarrollados</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100 pt-3">
      <img src="https://intro-webdesign.com/images/newlogo.png" class="card-img-top w-50 align-self-center" alt="Web Design for Everybody Logo" />
      <div class="card-body">
        <h3 class="card-title fw-bold py-2 text-uppercase">Web Design for Everybody</h3>
        <p class="card-text">
          Web design for everybody is a well structured course that teaches you the basics of HTML, CSS and JavaScript. It is a great course for beginners and it is also a good refresher for those
          who want to brush up on their skills.
        </p>
        <p>This very website is made as a final project for this course.</p>
        <a href="https://www.wd4e.com/" target="_blank" rel="noopener noreferrer">
          <button type="button">Ver más</button>
        </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100 pt-3">
      <img
        src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/7e/aff5b0f54c11e7b5ae579a0e963c38/Logo_TheScienceofWell-Being.png?auto=format%2Ccompress&dpr=1"
        class="card-img-top w-50 align-self-center"
        alt="The science of well being"
      />
      <div class="card-body">
        <h3 class="card-title fw-bold py-2 text-uppercase">The Science of Well-Being</h3>
        <p class="card-text">
          The Science of Well-Being course is a transformative journey into the science-backed strategies for living a happier and more fulfilling life. Explore the latest research in positive
          psychology and learn practical techniques to enhance your well-being.
        </p>
        <a href="https://www.coursera.org/learn/the-science-of-well-being" target="_blank" rel="noopener noreferrer">
          <button type="button">Ver más</button>
        </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100 pt-3">
      <img src="https://i.ytimg.com/vi/8DvywoWv6fI/maxresdefault.jpg" class="card-img-top w-75 align-self-center" alt="Python for Everybody" />
      <div class="card-body">
        <h3 class="card-title fw-bold py-2 text-uppercase">Python for Everybody</h3>
        <p class="card-text">
          This is the ultimate beginner's guide to programming with Python. Whether you're completely new to coding or have some experience, this course will take you from the fundamentals to
          mastering the Python language.
        </p>
        <a href="https://www.coursera.org/specializations/python" target="_blank" rel="noopener noreferrer">
          <button>Ver más</button>
        </a>
      </div>
    </div>
  </div>
</div>
