<!-- Projects -->
<h1 class="display-5 mt-5 py-3">Proyectos</h1>
<p>Una lista de proyectos desarrollados</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100 pt-3">
      <%= image_tag 'Ruby_logo.svg', class:"card-img w-50 align-self-center", alt:"Ruby Logo"%>
      <div class="card-body">
        <h3 class="card-title fw-bold py-2">Ruby</h3>
        <p class="card-text">
          Este repositorio contiene los ejercicios del bootcamp de programación en Ruby (Bootcamp - Ruby on Rails), donde se exploran diversos aspectos esenciales del lenguaje como: variables, tipos
          de datos, ciclos, métodos, clases, herencia, entre otros.
        </p>
        <a href="https://github.com/ssaavedrat/Ruby-Bootcamp-Ruby-on-Rails" target="_blank" rel="noopener noreferrer">
          <button type="button">Ver más</button>
        </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100 pt-3">
      <%= image_tag 'ViajesChile.webp', class: "card-img w-75 align-self-center", alt: "Viajes Chile" %>
      <div class="card-body">
        <h3 class="card-title fw-bold py-2">Viajes Chile</h3>
        <p class="card-text">Landing page de agencia de viajes / turismo en Chile.</p>
        <a href="https://github.com/ssaavedrat/viajesChile" target="_blank" rel="noopener noreferrer">
          <button type="button">Ver más</button>
        </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100 pt-3">
      <%= image_tag 'MeetCoffee.webp', class: "card-img w-100 px-3 align-self-center", alt: "Meet&Coffee" %>
      <div class="card-body">
        <h3 class="card-title fw-bold py-2">Meet&Coffee</h3>
        <p class="card-text">
            Landing page de una cafetería ficticia, desarrollada con HTML y CSS.
        </p>
        <a href="" target="_blank" rel="noopener noreferrer">
          <button>Ver más</button>
        </a>
      </div>
    </div>
  </div>
</div>
