.navbar-brand{
    font-weight: bold;
}

.card .card-img{
    height: 30%;
    object-fit: cover;
}	

.card button {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom as needed */
    right: 10px; /* Adjust the distance from the right as needed */
    padding: 10px 20px;
    background-color: #3498db; /* Nice blue color */
    color: #ffffff; /* Text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition for click behavior */
  }

/* Button hover style*/
.card button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}